{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- about content -->

        <header class="w3-container w3-xlarge">
            <p class="w3-left">회사소개</p>
        </header>

        <!-- body -->
        <div class="w3-card-4">
            <header class="w3-container w3-teal">
            <h4>인사말</h4>
            </header>
            </div>
            <div class="w3-container">
                <p class="w3-text-deep-orange" id="comment">"고객 요구에 높은 품질과 새로운 가치로 최고의 제품을 제공합니다"</p>
                <p>안녕하십니까 태성푸드에 오신것을 진심으로 환영합니다.</p>
                <p>태성푸드는 고객의 가치창출을 위한 최적의 제품을 최우선으로 하고 있습니다.</p>
                <p>오랜 경험과 항상 겸손하고 성실한 자세로 고객의 요구사항을 만족시켜 드릴 수 있도록 노력하고 있습니다.</p>
                <p class="w3-right"><i class="fa fa-male" style="font-size:48px"></i>(주)태성푸드 임직원 일동</p>
        </div>

        <div class="w3-card-4">
            <header class="w3-container w3-teal">
                <h4>기업비전</h4>
            </header>
        </div>
            <div class="w3-container w3-margin-bottom">
                <p class="w3-text-blue" style="text-align: center" id="comment">"고객가치를 최우선으로 생각합니다."</p>
                <p class="w3-text-gray" id="english">MISSION</p>
                <div class="w3-panel w3-border w3-round-xlarge w3-card-2" style="height:50px; width: 70%; margin-left: 140px; font-weight: bold; text-align: center">
                    <p>신뢰성으로 고객가치 창출과 약속을 이행</p>
                </div>
                <p class="w3-text-gray" id="english">VISION</p>
                <div class="w3-panel w3-border w3-round-xlarge w3-card-2" style="height:50px; font-weight: bold; text-align: center">
                    <p>사람중심의 구성원 모두 행복한 기업</p>
                </div>
            </div>

        <div class="w3-card-4">
            <header class="w3-container w3-teal">
                <h4>회사 연혁</h4>
            </header>
        </div>
            <div class="w3-container w3-margin-bottom">
                <p class="w3-text-blue" id="comment">"품질확보에 전념하겠습니다."</p>
                <div class="w3-panel w3-leftbar"><p><h4>2016년</h4></p></div>
                <ul class="w3-ul">
                    <li>영등포 초등학교 급식 납품</li>
                </ul>
                <div class="w3-panel w3-leftbar"><p><h4>2015년</h4></p></div>
                <ul class="w3-ul">
                    <li>가락 초등학교 급식 납품</li>
                </ul>
            </div>

        <div class="w3-card-4">
            <header class="w3-container w3-teal">
                <h4>주요 고객사</h4>
            </header>
        </div>
            <div class="w3-row-padding w3-margin-top w3-margin-bottom">
              <div class="w3-third">
                <div class="w3-card-2">
                  <img src="{% static 'img/nonghyeb.png' %}" style="width:100%">
                </div>
              </div>

              <div class="w3-third">
                <div class="w3-card-2">
                  <img src="{% static 'img/nonghyebhanaromart.jpg' %}" style="width:100%">
                </div>
              </div>

              <div class="w3-third">
                <div class="w3-card-2">
                  <img src="{% static 'img/emart.png' %}" style="width:100%">
                </div>
              </div>
            </div>

        <div class="w3-card-4 w3-margin-bottom">
        <header class="w3-container w3-teal">
            <h4><i class="material-icons">map</i> 오시는길</h4>
        </header>
        </div>
        <div class="w3-container">
        <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJvfikJuWefDUReR1evJOJwEE&key=AIzaSyADBSX0xboE-KJ_5siB1IOw8cebO7gEzJs" allowfullscreen></iframe>
        </div>
{% endblock %}