{% extends 'base.html' %}

{% load static %}

{% block content %}
    <div class="w3-content w3-section" style="max-width: 100%;">
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-0.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-1.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-2.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-4.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-5.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-6.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-8.jpg' %}" style="width: 100%" alt="" />
        <img class="mySlides w3-animate-fading" src="{% static 'img/grocery-9.jpg' %}" style="width: 100%" alt="" />
    </div>
{% endblock %}