{% extends 'base.html' %}

{% block content %}
    <div class="w3-main" style="margin-left: 250px">
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Upload</button>
        </form>

        <div>
        {% for document in documents %}
            <h1>{{ document.description }}</h1>
            <p>{{ document.document }}</p>
            <p>{{ document.uploaded_at }}</p>
        {% endfor %}
        </div>
    </div>
{% endblock %}