{% extends 'base.html' %}

{% load static %}

{% block content %}
    <!-- Products CONTENT -->

  <div class="w3-container w3-border-top w3-border-bottom w3-text-grey w3-margin-top w3-margin-bottom">
    <p>제품 소개</p>
  </div>

  <!-- Image header -->

  <div class="w3-display-container w3-container">
    <img src="{% static 'homepage/img/grocery.jpg' %}" alt="" style="width:100%">
      {% comment %}
    <div class="w3-display-topleft w3-padding-xxlarge w3-text-white">
      <h1 class="w3-jumbo w3-hide-small">New arrivals</h1>
      <h1 class="w3-hide-large w3-hide-medium">New arrivals</h1>
      <h1 class="w3-hide-small">COLLECTION 2016</h1>
      <p><a href="#jeans" class="w3-btn w3-padding-large w3-large">SHOP NOW</a></p>
    </div>
    {% endcomment %}
  </div>

  <div class="w3-container w3-border-top w3-border-bottom w3-text-grey w3-margin-top w3-margin-bottom">
    <p>대분류1</p>
  </div>

  <!-- Product grid -->
  <div class="w3-row">
    <div class="w3-col l3 s6">
      <div class="w3-container">
          {% for product_image in product_images1 %}
            <img src="{{ product_image.image.url }}" style="width:100%" />
          {% endfor %}
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
          {% for product_image in product_images2 %}
            <img src="{{ product_image.image.url }}" style="width:100%" />
          {% endfor %}
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
          {% for product_image in product_images3 %}
            <img src="{{ product_image.image.url }}" style="width:100%" />
          {% endfor %}
      </div>
    </div>

    <div class="w3-col l3 s6">
      <div class="w3-container">
          {% for product_image in product_images4 %}
            <img src="{{ product_image.image.url }}" style="width:100%" />
          {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}